<div ng-controller="GreetingCtrl as ctrl">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<div class="panel panel-default">
				<div class="panel-heading">Presentation</div>
				<div class="panel-body">Here is the message of the day</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<div class="panel panel-default">
				<div class="panel-heading">Result from Server</div>
				<div class="panel-body">
					<h3>{{ctrl.message}}</h3>
					<button type="button" class="btn btn-primary" ng-click="ctrl.configure()">Configure</button>
				</div>
			</div>
		</div>
	</div>
</div>
